.root {
    main-color: #f4f7fb;
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #c9d2df;
    -fx-font: 16px "Arial";
}

.button {
    -fx-background-color: #3273dc;
    -fx-text-fill: white;
    -fx-font: bold 15px "Arial";
}

.button:hover {
    -fx-background-color: #245fc0;
}

.button:pressed {
    -fx-background-color: #194b9b;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #aebaca;
    -fx-background-radius: 1em;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
